.wrapper {
    max-width: 900px;
    margin: auto;
    font-family: "Arial";
}

.toolbar{
    width: 100%;
    background-color: #444444;
    overflow: auto;
}

.toolbar a {
    float: left;
    width: 11%;
    text-align: center;
    padding: 6px 5px;
    transition: all 0.5s ease;
    color: white;
}

/* Change color on hover */
.toolbar a:hover {
    background-color: #000;
  }

/* Change color on selected icon */
.selected {
    background-color: #000; 
}

#my-canvas{
    width: 100%;
    border: 3px solid #000000;
}

#img-data-div{
    width: 100%;
    max-width: 900px;
    height: 200px;
}

/* Resize image to container */
.toolbar a img{
    max-width:100%;
    height:auto;
}

.text-input {
    padding: 5px;
    border: 1px solid hsla(0, 0%, 0%, 0.2);
    width: 200px;
    margin: 0 10px 10px 0;
    background-color: hsla(0, 0%, 0%, 0.03);
    box-shadow: inset 0 2px 10px hsla(0, 0%, 0%, 0.15);
    border-radius: 5px;
    font-size: 1.2rem;
  }